{% extends "_base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<div class="container mx-auto max-w-sm p-4">
  <h1>{% trans "Confirm E-mail Address" %}</h1>
  
  {% if confirmation %}
    <p class="text-gray-700 mb-4">
      {% blocktrans with confirmation.email_address.email as email %}
        Please confirm that 
        <a href="mailto:{{ email }}" class="text-blue-500 underline">
          {{ email }}
        </a> 
        is the email address for user {{ user_display }}.
      {% endblocktrans %}
    </p>
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="flex justify-end">
      {% csrf_token %}
      <button type="submit" class="btn btn-blue">
        {% trans 'Confirm' %}
      </button>
    </form>
  {% else %}
    <p class="text-gray-700">
      {% blocktrans %}
        This email confirmation link is invalid or has expired. Please
        <a href="{{ email_url }}" class="text-blue-500 underline">
          request a new email confirmation link.
        </a>
      {% endblocktrans %}
    </p>
  {% endif %}
</div>
{% endblock %}
