{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Transcipt Wise{% endblock title %}</title>

    <link href="{% static 'src/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="min-h-screen flex flex-col bg-primary">
      <nav class="bg-white border-b border-gray-200">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            <div class="flex">
              <div class="flex-shrink-0 flex items-center">
                <img
                  alt="A logo of a graduation "
                  class="block lg:hidden h-8 w-8 object-cover "
                  src="{% static 'myapp/images/umat.jpeg' %}"
                />
                <img
                  alt="A logo of a graduation "
                  class="hidden lg:block h-8 w-8 object-cover"
                  src="{% static 'myapp/images/umat.jpeg' %}"
                />
              </div>
              <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                <a
                  class="{% if current_url == '/' %}text-gray-900{% else %}text-gray-400 border-transparent {% endif %} inline-flex items-center px-1 pt-1 border-b-2  text-sm font-medium leading-5 focus:outline-none focus:border-accent transition duration-150 ease-in-out"
                  href="{% url 'home' %}"
        
                >
                  Dashboard
                </a>
                <a
                  class="{% if current_url == '/transcripts/request' %}text-gray-900 border-gray-300 {% else %} text-gray-400 border-transparent {% endif %} inline-flex items-center px-1 pt-1 border-b-2  text-sm font-medium leading-5  hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out"
                  href="{%url 'request_transcript'%}"
                >
                  Transcripts
                </a>
                <a 
                  class="{% if current_url == '/transcripts/status' %}text-gray-900 border-gray-300 {% else %} text-gray-400 border-transparent  {% endif %} inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium leading-5  hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out"
                  href="{% url 'transcript_status' %}"
                >
                  Transcript Status
                </a>
                <a 
                  class="{% if current_url == '/transcripts/history' %}text-gray-900 border-gray-300 {% else %} text-gray-400 border-transparent  {% endif %} inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium leading-5  hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out"
                  href="{% url 'transcript_request_history' %}"
                >
                  Transcript History
                </a>
              </div>
            </div>
            <div class="flex">
            <div class=" sm:ml-6 sm:flex sm:items-center">
              <a href="{% url 'notifications' %}">
                
              <button
                aria-label="Notifications"
                class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-gray-500 focus:outline-none focus:text-gray-500 focus:bg-gray-100 transition duration-150 ease-in-out"
              >
              <span class="text-sm flex bg-gray-500 text-white rounded-full justify-center opacity-70 position  right-0">{{notifications_count}}</span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  stroke="currentColor"
                  viewbox="0 0 24 24"
                >
                  <path
                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  ></path>
                </svg>
                
              </button>
              </a>
              <div class="hidden sm:ml-6 sm:flex sm:items-center ml-3 relative w-fit">
                <div>
                  <button
                    aria-haspopup="true"
                    aria-label="User menu"
                    class="flex group text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
                    id="user-menu"
                  >
                    <img
                      alt="A profile picture of the current user"
                      class="h-8 w-8 rounded-full object-fit"
                       src="{% if profile_picture_url %}{{ profile_picture_url }}{% else %}default_profile_picture_url{% endif %}"
                    />
                    <div
                      class="origin-top-right absolute hidden group-hover:block right-0 mt-2 w-48 rounded-md shadow-lg"
                    >
                      <div
                        aria-labelledby="user-menu"
                        aria-orientation="vertical"
                        class="py-1 rounded-md bg-white shadow-xs"
                        role="menu"
                      >
                        <a
                          class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                          href="{% url 'profile' 4 %}"
                          role="menuitem"
                          >Your Profile</a
                        >
                        <a
                          class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                          href="#"
                          role="menuitem"
                          >Settings</a
                        >
                        <a
                          class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                          href="{% url 'account_logout' %}"
                          role="menuitem"
                          target="_blank"
                          >Sign out</a
                        >
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="-mr-2 flex sm:hidden items-center">
              <button id="mobile-menu-button" aria-label="Open main menu"
                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
              >
                <svg
                  class="h-6 w-6"
                  fill="none"
                  stroke="currentColor"
                  viewbox="0 0 24 24"
                >
                  <path
                    d="M4 6h16M4 12h16M4 18h16"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  ></path>
                </svg>
              </button>
              
            </div>
            <div id="mobile-menu" class="hidden z-50 absolute bg-white shadow-md rounded-md space-x-1 space-y-2 right-0 mt-16">
                <a
                  class="block px-3 py-2 text-sm font-medium text-gray-700"
                  href="{% url 'home' %}"
                  >Dashboard</a
                >
                <a
                  class="block px-3 py-2 text-sm font-medium text-gray-700"
                  href="{% url 'request_transcript' %}"
                  >Transcripts</a
                >
                <a
                    class="block px-3 py-2 text-sm font-medium text-gray-700"
                    href="{% url 'transcript_status' %}"
                    >Transcript Status</a>
                <a
                    class="block px-3 py-2 text-sm font-medium text-gray-700"
                    href="{% url 'transcript_request_history' %}"
                    >Transcript History</a>
                 <a
                          class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                          href="{% url 'profile' 4 %}"
                          role="menuitem"
                          >Your Profile</a
                        >
                        <a
                          class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                          href="#"
                          role="menuitem"
                          >Settings</a
                        >
                        <a
                          class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                          href="{% url 'account_logout' %}"
                          role="menuitem"https://agri-connect-ppqi.onrender.com/
                          >Sign out</a>
                </div>
          </div>
          </div>
        </div>
      </nav>
      <main class="flex-grow">
        <div class="max-w-7xl mx-auto w-full py-8 px-8 md:py-8 lg:py-8 sm:px-8 lg:px-8 md:px-8">
          <!-- Page content goes here -->
          {% block content %} 
          {% endblock %}
        </div>
      </main>
      <footer class="bg-gray-800">
        <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between">
            <div class="text-sm leading-5 text-gray-500">
              © 2023 Transcript Management System. All rights reserved.
            </div>
            <div class="text-sm leading-5 text-gray-500">
              <a
                class="text-gray-400 hover:text-gray-300"
                href="#"
                target="_blank"
                >Privacy Policy</a
              >
              <span class="mx-2">|</span>
              <a
                class="text-gray-400 hover:text-gray-300"
                href="#"
                target="_blank"
                >Terms of Service</a
              >
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script>
      const mobileMenuButton = document.getElementById("mobile-menu-button");
      const mobileMenu = document.getElementById("mobile-menu");

      mobileMenuButton.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
      });
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
