{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Transcipt Wise{% endblock title %}</title>

    <link href="{% static 'src/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="grid h-screen place-items-center">
      <div class="h-100 mx-auto w-full flex px-4 py-8">
        {% block content %} 
        {% endblock content %}
      </div>
    </div>
  </body>
</html>
